* {
    background-color: lightskyblue;
}
h1 {
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    margin-left: 15%;
    margin-right: 15%;
    color: lightskyblue;
}
h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    background-color: black;
    color: rosybrown;
}
img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 200px;

}
#pep {
    text-align: center;
    margin-left:40%;
    margin-right: 40%;
}
.ope {
    margin:10px;
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}
#rico {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

h3 {
    background-color: rosybrown;
    margin-left: 15%;
    margin-right: 15%;
}
